In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir('C:\\Users\\mcoge\\Satellite project')

In [3]:
os.listdir()

['budget.xlsx',
 'budget_cleaned.csv',
 'satellites.xlsx',
 'satellites_cleaned.csv',
 'Screenshot_2021-01-16 TR Dashboard - mattcoget gmail com - Gmail.png']

In [4]:
budget=pd.read_excel('budget.xlsx')

In [5]:
satellites=pd.read_excel('satellites.xlsx')

In [6]:
satellites.head()

,satellite_Name,Launch year,Launch status,Application,operator_status,operator_query.country,global_regional_distribution,mass_range_kg,price_range_m$
0,DMC-3A,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
1,DMC-3B,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
2,DMC-3C,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
3,SSTL-S1,2018,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
4,VRSS-1,2012,Launched,Earth Observation,Civil,"Venezuela, RB",Latin America and Caribbean,501-2000 kg,51-200M$

In [7]:
satellites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   satellite_Name                2499 non-null   object
 1   Launch year                   2499 non-null   int64
 2   Launch status                 2499 non-null   object
 3   Application                   2499 non-null   object
 4   operator_status               2499 non-null   object
 5   operator_query.country        2499 non-null   object
 6   global_regional_distribution  2499 non-null   object
 7   mass_range_kg                 2499 non-null   object
 8   price_range_m$                2499 non-null   object
dtypes: int64(1), object(8)
memory usage: 175.8+ KB

In [8]:
satellites.isna().sum()

satellite_Name                  0
Launch year                     0
Launch status                   0
Application                     0
operator_status                 0
operator_query.country          0
global_regional_distribution    0
mass_range_kg                   0
price_range_m$                  0
dtype: int64

In [9]:
satellites['price_range_m$'].value_counts()

<50 M$        945
51-200M$      750
201-500 M$    451
TBD           183
>500 M$       170
Name: price_range_m$, dtype: int64

In [10]:
satellites.nunique()

satellite_Name                  2380
Launch year                       20
Launch status                      5
Application                       10
operator_status                    2
operator_query.country            76
global_regional_distribution       6
mass_range_kg                      4
price_range_m$                     5
dtype: int64

In [11]:
satellites.satellite_Name.value_counts()

Forecast single sat           55
SSA european constellation    19
US tactical comsat            14
Small military mission        13
Sfera EO                       6
                              ..
Beidou 3G 5 / 2Upgrade         1
ASCENDS                        1
Yaogan 9C / JB-8 1C            1
Yaogan 8 / JB-9 1              1
Sich 2-M                       1
Name: satellite_Name, Length: 2380, dtype: int64

In [12]:
satellites.Application.value_counts()

Earth Observation     705
Telecom               607
Security              253
Navigation            251
Manned spaceflight    183
Technology            163
Information           148
Science               104
Exploration            84
In Orbit Servicing      1
Name: Application, dtype: int64

In [13]:
satellites[satellites.satellite_Name=='SSA european constellation']

,satellite_Name,Launch year,Launch status,Application,operator_status,operator_query.country,global_regional_distribution,mass_range_kg,price_range_m$
908,SSA european constellation,2025,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
909,SSA european constellation,2025,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
910,SSA european constellation,2025,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
911,SSA european constellation,2025,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
912,SSA european constellation,2025,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
913,SSA european constellation,2025,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
914,SSA european constellation,2024,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
915,SSA european constellation,2024,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
916,SSA european constellation,2024,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
917,SSA european constellation,2024,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
918,SSA european constellation,2024,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
919,SSA european constellation,2024,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
920,SSA european constellation,2024,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
921,SSA european constellation,2026,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
922,SSA european constellation,2026,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
923,SSA european constellation,2026,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
924,SSA european constellation,2026,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
925,SSA european constellation,2026,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$
926,SSA european constellation,2026,To be launched,Security,Civil,European Union,Europe,<500 kg,<50 M$

In [14]:
budget.head()

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
0,Total,2019,195.432000,Europe,BEL,Belgium,Civil,ESA,million,EUR
1,Total,2020,171.600069,Europe,BEL,Belgium,Civil,ESA,million,EUR
2,Total,2019,220.230630,Europe,BEL,Belgium,Civil,ESA,million,USD
3,Total,2020,193.374633,Europe,BEL,Belgium,Civil,ESA,million,USD
4,Total,2019,54.274739,Europe,AUT,Austria,Civil,ESA,million,EUR

In [15]:
budget.columns

Index(['application', 'year', 'value', 'region', 'country_code', 'country',
       'program_type', 'program_name', 'unit', 'currency'],
      dtype='object')

In [16]:
budget.groupby(['year','country','program_name'])['value'].sum().to_frame().head(50)

                                              value
year country          program_name
1999 Algeria          National program     0.000000
     Angola           National program     0.000000
     Argentina        National program    20.576574
     Australia        National program    55.182698
     Austria          ESA                  0.000000
                      Eumetsat            14.467390
                      National program     8.267080
     Azerbaijan       National program     0.000000
     Bahrain          National program     0.000000
     Bangladesh       National program     0.000000
     Belarus          National program     0.000000
     Belgium          ESA                307.714535
                      Eumetsat            18.600930
                      National program    20.667700
     Bolivia          National program     0.000000
     Brazil           National program   205.899610
     Bulgaria         ESA                  0.000000
                      Eumetsat             0.000000
                      National program     0.000000
     Cambodia         National program     0.000000
     Canada           ESA                 38.601599
                      National program   530.363343
     Chile            National program    34.062042
     China            National program  6249.802326
     Colombia         National program     0.000000
     Czech Republic   ESA                  0.000000
                      Eumetsat             0.000000
                      National program     0.000000
     Denmark          ESA                217.235302
                      Eumetsat            45.619413
                      National program    59.453872
     ESA              National program  6349.737471
     Ecuador          National program     0.000000
     Egypt, Arab Rep. National program     0.000000
     Estonia          ESA                  0.000000
                      Eumetsat             0.000000
                      National program     0.000000
     Ethiopia         National program     0.000000
     Eumetsat         National program   630.364850
     European Union   National program    84.737570
     Finland          ESA                 28.934780
                      Eumetsat             8.267080
                      National program    26.868010
     France           ESA               1347.534040
                      Eumetsat           104.886924
                      National program  3137.356860
     Gabon            National program     0.000000
     Germany          ESA               1023.980576
                      Eumetsat           160.624404
                      National program   328.428643

In [17]:
satellites['Launch status'].value_counts()

To be launched            1267
Launched                  1147
Launch failure              42
To be Launched              32
Partial launch failure      11
Name: Launch status, dtype: int64

In [18]:
satellites[satellites['Launch year']<2021]

,satellite_Name,Launch year,Launch status,Application,operator_status,operator_query.country,global_regional_distribution,mass_range_kg,price_range_m$
0,DMC-3A,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
1,DMC-3B,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
2,DMC-3C,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
3,SSTL-S1,2018,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
4,VRSS-1,2012,Launched,Earth Observation,Civil,"Venezuela, RB",Latin America and Caribbean,501-2000 kg,51-200M$
...,...,...,...,...,...,...,...,...,...
2491,RS 50,2018,Launched,Technology,Defense,Russian Federation,Russia and Central Asia,<500 kg,<50 M$
2492,MicroDragon,2019,Launched,Technology,Civil,Vietnam,Asia,<500 kg,<50 M$
2493,Yahsat-1A,2011,Launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$
2494,Yahsat-1B,2012,Launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$
2496,Al Yah 3,2018,Partial launch failure,Telecom,Civil,United Arab Emirates,Middle East and Africa,2001-5000 kg,201-500 M$

In [19]:
satellites['Launch year'].max()

2028

In [20]:
satellites.shape

(2499, 9)

In [21]:
satellites.drop_duplicates()

,satellite_Name,Launch year,Launch status,Application,operator_status,operator_query.country,global_regional_distribution,mass_range_kg,price_range_m$
0,DMC-3A,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
1,DMC-3B,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
2,DMC-3C,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
3,SSTL-S1,2018,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
4,VRSS-1,2012,Launched,Earth Observation,Civil,"Venezuela, RB",Latin America and Caribbean,501-2000 kg,51-200M$
...,...,...,...,...,...,...,...,...,...
2494,Yahsat-1B,2012,Launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$
2495,Thuraya 3+R,2024,To be launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$
2496,Al Yah 3,2018,Partial launch failure,Telecom,Civil,United Arab Emirates,Middle East and Africa,2001-5000 kg,201-500 M$
2497,Yahsat-1A+R,2026,To be launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$
2498,Yahsat-1B+R,2028,To be launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$

In [22]:
satellites[satellites.satellite_Name=='Sfera EO']

,satellite_Name,Launch year,Launch status,Application,operator_status,operator_query.country,global_regional_distribution,mass_range_kg,price_range_m$
1965,Sfera EO,2023,To be launched,Earth Observation,Civil,Russian Federation,Russia and Central Asia,<500 kg,<50 M$
1966,Sfera EO,2023,To be launched,Earth Observation,Civil,Russian Federation,Russia and Central Asia,<500 kg,<50 M$
1967,Sfera EO,2023,To be launched,Earth Observation,Civil,Russian Federation,Russia and Central Asia,<500 kg,<50 M$
1968,Sfera EO,2027,To be launched,Earth Observation,Civil,Russian Federation,Russia and Central Asia,<500 kg,<50 M$
1969,Sfera EO,2027,To be launched,Earth Observation,Civil,Russian Federation,Russia and Central Asia,<500 kg,<50 M$
1970,Sfera EO,2027,To be launched,Earth Observation,Civil,Russian Federation,Russia and Central Asia,<500 kg,<50 M$

In [23]:
satellites[satellites.satellite_Name=='Sfera IoT']

,satellite_Name,Launch year,Launch status,Application,operator_status,operator_query.country,global_regional_distribution,mass_range_kg,price_range_m$
1971,Sfera IoT,2023,To be launched,Information,Civil,Russian Federation,Russia and Central Asia,<500 kg,<50 M$
1972,Sfera IoT,2023,To be launched,Information,Civil,Russian Federation,Russia and Central Asia,<500 kg,<50 M$
1973,Sfera IoT,2027,To be launched,Information,Civil,Russian Federation,Russia and Central Asia,<500 kg,<50 M$
1974,Sfera IoT,2027,To be launched,Information,Civil,Russian Federation,Russia and Central Asia,<500 kg,<50 M$
1975,Sfera IoT,2027,To be launched,Information,Civil,Russian Federation,Russia and Central Asia,<500 kg,<50 M$

In [24]:
satellites.groupby(['satellite_Name'])['Application'].count().sort_values(ascending=False)[:20]

satellite_Name
Forecast single sat                       55
SSA european constellation                19
US tactical comsat                        14
Small military mission                    13
Sfera EO                                   6
Sfera IoT                                  5
Gaofen-5 +R                                3
Government Moon mission forecast China     3
Hyperspectral US Military                  3
Shen Tong 2C+R                             2
Xingyun 165                                2
Xingyun 164                                2
Xingyun 163                                2
Insat 3DR                                  2
Arktika-M N5                               2
Tianzhou 9                                 2
HY-3C / Hai Yang-3C                        1
HY-3B / Hai Yang-3B                        1
Hainan-1-13                                1
Hainan-1-12                                1
Name: Application, dtype: int64

In [25]:
budget.isna().sum()

application        0
year               0
value              0
region          1918
country_code       0
country            0
program_type       0
program_name       0
unit               0
currency           0
dtype: int64

In [26]:
budget[budget.region.isna()].country.value_counts()

Canada           1412
United States     506
Name: country, dtype: int64

In [27]:
budget.region.value_counts()

Europe    40804
MEA       19360
Asia      18436
LATAM     10164
CIS        6776
Name: region, dtype: int64

In [28]:
budget.to_csv('budget.csv', index=False)

In [29]:
pd.read_csv('budget.csv')

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
0,Total,2019,195.432000,Europe,BEL,Belgium,Civil,ESA,million,EUR
1,Total,2020,171.600069,Europe,BEL,Belgium,Civil,ESA,million,EUR
2,Total,2019,220.230630,Europe,BEL,Belgium,Civil,ESA,million,USD
3,Total,2020,193.374633,Europe,BEL,Belgium,Civil,ESA,million,USD
4,Total,2019,54.274739,Europe,AUT,Austria,Civil,ESA,million,EUR
...,...,...,...,...,...,...,...,...,...,...
97453,Technology,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,USD
97454,Human Spaceflight,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,USD
97455,Launch vehicles,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,USD
97456,Space security,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,USD
97457,Other,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,USD

In [30]:
budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97458 entries, 0 to 97457
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   application   97458 non-null  object
 1   year          97458 non-null  int64
 2   value         97458 non-null  float64
 3   region        95540 non-null  object
 4   country_code  97458 non-null  object
 5   country       97458 non-null  object
 6   program_type  97458 non-null  object
 7   program_name  97458 non-null  object
 8   unit          97458 non-null  object
 9   currency      97458 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 7.4+ MB

In [31]:
china=budget[budget.country=='China']
china[china.year==2020]

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
14155,Internal operations,2020,1784.329718,Asia,CHN,China,Civil,National program,million,CNY
14156,Telecommunications,2020,2391.232658,Asia,CHN,China,Civil,National program,million,CNY
14157,Navigation,2020,4275.000000,Asia,CHN,China,Civil,National program,million,CNY
14158,Earth Observation,2020,7283.847252,Asia,CHN,China,Civil,National program,million,CNY
14159,Meteorology,2020,2967.547591,Asia,CHN,China,Civil,National program,million,CNY
14160,Space Science and exploration,2020,6540.524403,Asia,CHN,China,Civil,National program,million,CNY
14161,Technology,2020,0.000000,Asia,CHN,China,Civil,National program,million,CNY
14162,Human Spaceflight,2020,0.000000,Asia,CHN,China,Civil,National program,million,CNY
14163,Launch vehicles,2020,0.000000,Asia,CHN,China,Civil,National program,million,CNY
14164,Space security,2020,65.854080,Asia,CHN,China,Civil,National program,million,CNY
14165,Other,2020,0.000000,Asia,CHN,China,Civil,National program,million,CNY
14397,Internal operations,2020,0.000000,Asia,CHN,China,Defence,National program,million,CNY
14398,Telecommunications,2020,0.000000,Asia,CHN,China,Defence,National program,million,CNY
14399,Navigation,2020,0.000000,Asia,CHN,China,Defence,National program,million,CNY
14400,Earth Observation,2020,0.000000,Asia,CHN,China,Defence,National program,million,CNY
14401,Early warning,2020,0.000000,Asia,CHN,China,Defence,National program,million,CNY
14402,Meteorology,2020,0.000000,Asia,CHN,China,Defence,National program,million,CNY
14403,Technology,2020,0.000000,Asia,CHN,China,Defence,National program,million,CNY
14404,Human Spaceflight,2020,12602.666667,Asia,CHN,China,Defence,National program,million,CNY
14405,Launch vehicles,2020,3816.614282,Asia,CHN,China,Defence,National program,million,CNY
14406,Space security,2020,0.000000,Asia,CHN,China,Defence,National program,million,CNY
14407,Other,2020,0.000000,Asia,CHN,China,Defence,National program,million,CNY
14639,Internal operations,2020,264.002722,Asia,CHN,China,Civil,National program,million,USD
14640,Telecommunications,2020,353.797801,Asia,CHN,China,Civil,National program,million,USD
14641,Navigation,2020,632.512941,Asia,CHN,China,Civil,National program,million,USD
14642,Earth Observation,2020,1077.690677,Asia,CHN,China,Civil,National program,million,USD
14643,Meteorology,2020,439.067194,Asia,CHN,China,Civil,National program,million,USD
14644,Space Science and exploration,2020,967.711421,Asia,CHN,China,Civil,National program,million,USD
14645,Technology,2020,0.000000,Asia,CHN,China,Civil,National program,million,USD
14646,Human Spaceflight,2020,0.000000,Asia,CHN,China,Civil,National program,million,USD
14647,Launch vehicles,2020,0.000000,Asia,CHN,China,Civil,National program,million,USD
14648,Space security,2020,9.743522,Asia,CHN,China,Civil,National program,million,USD
14649,Other,2020,0.000000,Asia,CHN,China,Civil,National program,million,USD
14881,Internal operations,2020,0.000000,Asia,CHN,China,Defence,National program,million,USD
14882,Telecommunications,2020,0.000000,Asia,CHN,China,Defence,National program,million,USD
14883,Navigation,2020,0.000000,Asia,CHN,China,Defence,National program,million,USD
14884,Earth Observation,2020,0.000000,Asia,CHN,China,Defence,National program,million,USD
14885,Early warning,2020,0.000000,Asia,CHN,China,Defence,National program,million,USD
14886,Meteorology,2020,0.000000,Asia,CHN,China,Defence,National program,million,USD
14887,Technology,2020,0.000000,Asia,CHN,China,Defence,National program,million,USD
14888,Human Spaceflight,2020,1864.643217,Asia,CHN,China,Defence,National program,million,USD
14889,Launch vehicles,2020,564.691912,Asia,CHN,China,Defence,National program,million,USD
14890,Space security,2020,0.000000,Asia,CHN,China,Defence,National program,million,USD
14891,Other,2020,0.000000,Asia,CHN,China,Defence,National program,million,USD

In [32]:
budget.query('currency=="USD"')

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
2,Total,2019,220.230630,Europe,BEL,Belgium,Civil,ESA,million,USD
3,Total,2020,193.374633,Europe,BEL,Belgium,Civil,ESA,million,USD
6,Total,2019,61.161734,Europe,AUT,Austria,Civil,ESA,million,USD
7,Total,2020,50.245259,Europe,AUT,Austria,Civil,ESA,million,USD
10,Total,2019,1.513415,Europe,BGR,Bulgaria,Civil,ESA,million,USD
...,...,...,...,...,...,...,...,...,...,...
97453,Technology,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,USD
97454,Human Spaceflight,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,USD
97455,Launch vehicles,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,USD
97456,Space security,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,USD
97457,Other,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,USD

In [33]:
satellites

,satellite_Name,Launch year,Launch status,Application,operator_status,operator_query.country,global_regional_distribution,mass_range_kg,price_range_m$
0,DMC-3A,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
1,DMC-3B,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
2,DMC-3C,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
3,SSTL-S1,2018,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
4,VRSS-1,2012,Launched,Earth Observation,Civil,"Venezuela, RB",Latin America and Caribbean,501-2000 kg,51-200M$
...,...,...,...,...,...,...,...,...,...
2494,Yahsat-1B,2012,Launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$
2495,Thuraya 3+R,2024,To be launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$
2496,Al Yah 3,2018,Partial launch failure,Telecom,Civil,United Arab Emirates,Middle East and Africa,2001-5000 kg,201-500 M$
2497,Yahsat-1A+R,2026,To be launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$
2498,Yahsat-1B+R,2028,To be launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$

In [36]:
budget[budget.currency=='USD'].shape[0]/budget.shape[0]

0.5050791110016623

In [37]:
budget.year.value_counts().sort_index()

1999    4479
2000    4479
2001    4479
2002    4479
2003    4479
2004    4479
2005    4479
2006    4479
2007    4479
2008    4479
2009    4479
2010    4479
2011    4479
2012    4479
2013    4479
2014    4479
2015    4479
2016    4479
2017    4479
2018    4479
2019    3939
2020    3939
Name: year, dtype: int64

In [38]:
budget_dollar=budget[budget.currency=='USD']

In [39]:
budget[budget.country_code=='USA']

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
94972,Internal operations,1999,0.000,NaN,USA,United States,Civil,National program,million,USD
94973,Telecommunications,1999,97.000,NaN,USA,United States,Civil,National program,million,USD
94974,Navigation,1999,0.000,NaN,USA,United States,Civil,National program,million,USD
94975,Earth Observation,1999,1414.000,NaN,USA,United States,Civil,National program,million,USD
94976,Meteorology,1999,0.000,NaN,USA,United States,Civil,National program,million,USD
...,...,...,...,...,...,...,...,...,...,...
95473,Technology,2020,2056.072,NaN,USA,United States,Defence,National program,million,USD
95474,Human Spaceflight,2020,0.000,NaN,USA,United States,Defence,National program,million,USD
95475,Launch vehicles,2020,1836.804,NaN,USA,United States,Defence,National program,million,USD
95476,Space security,2020,725.491,NaN,USA,United States,Defence,National program,million,USD
95477,Other,2020,230.362,NaN,USA,United States,Defence,National program,million,USD

In [40]:
budget_dollar.shape[0]/budget.shape[0]

0.5050791110016623

In [41]:
budget_local_currency=budget[~(budget.currency=='USD')]

In [42]:
budget_local_currency

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
0,Total,2019,195.432000,Europe,BEL,Belgium,Civil,ESA,million,EUR
1,Total,2020,171.600069,Europe,BEL,Belgium,Civil,ESA,million,EUR
4,Total,2019,54.274739,Europe,AUT,Austria,Civil,ESA,million,EUR
5,Total,2020,44.587492,Europe,AUT,Austria,Civil,ESA,million,EUR
8,Total,2019,2.626468,Europe,BGR,Bulgaria,Civil,ESA,million,BGN
...,...,...,...,...,...,...,...,...,...,...
96947,Technology,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,EUR
96948,Human Spaceflight,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,EUR
96949,Launch vehicles,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,EUR
96950,Space security,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,EUR
96951,Other,2020,0.000000,Europe,EUM,Eumetsat,Defence,National program,million,EUR

In [43]:
df=budget[budget.value!=0]

In [44]:
budget_local_currency[budget_local_currency.value!=0]

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
0,Total,2019,195.432000,Europe,BEL,Belgium,Civil,ESA,million,EUR
1,Total,2020,171.600069,Europe,BEL,Belgium,Civil,ESA,million,EUR
4,Total,2019,54.274739,Europe,AUT,Austria,Civil,ESA,million,EUR
5,Total,2020,44.587492,Europe,AUT,Austria,Civil,ESA,million,EUR
8,Total,2019,2.626468,Europe,BGR,Bulgaria,Civil,ESA,million,BGN
...,...,...,...,...,...,...,...,...,...,...
96704,EPS-Second Generation Preparation (EPS-SG PP),2020,253.583333,Europe,EUM,Eumetsat,Civil,National program,million,EUR
96705,MTG,2020,136.583333,Europe,EUM,Eumetsat,Civil,National program,million,EUR
96706,Jason-2&3,2020,0.600000,Europe,EUM,Eumetsat,Civil,National program,million,EUR
96707,Jason-CS,2020,25.666667,Europe,EUM,Eumetsat,Civil,National program,million,EUR
96708,GMES,2020,38.833333,Europe,EUM,Eumetsat,Civil,National program,million,EUR

In [45]:
budget_dollar[budget_dollar.value!=0]

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
2,Total,2019,220.230630,Europe,BEL,Belgium,Civil,ESA,million,USD
3,Total,2020,193.374633,Europe,BEL,Belgium,Civil,ESA,million,USD
6,Total,2019,61.161734,Europe,AUT,Austria,Civil,ESA,million,USD
7,Total,2020,50.245259,Europe,AUT,Austria,Civil,ESA,million,USD
10,Total,2019,1.513415,Europe,BGR,Bulgaria,Civil,ESA,million,USD
...,...,...,...,...,...,...,...,...,...,...
97210,EPS-Second Generation Preparation (EPS-SG PP),2020,285.760864,Europe,EUM,Eumetsat,Civil,National program,million,USD
97211,MTG,2020,153.914576,Europe,EUM,Eumetsat,Civil,National program,million,USD
97212,Jason-2&3,2020,0.676135,Europe,EUM,Eumetsat,Civil,National program,million,USD
97213,Jason-CS,2020,28.923545,Europe,EUM,Eumetsat,Civil,National program,million,USD
97214,GMES,2020,43.760947,Europe,EUM,Eumetsat,Civil,National program,million,USD

In [46]:
budget_dollar[~(budget_dollar.country_code=='USA')].shape[0]-budget_local_currency.shape[0]

484

In [47]:
budget_dollar[budget_dollar.country_code=='USA']

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
94972,Internal operations,1999,0.000,NaN,USA,United States,Civil,National program,million,USD
94973,Telecommunications,1999,97.000,NaN,USA,United States,Civil,National program,million,USD
94974,Navigation,1999,0.000,NaN,USA,United States,Civil,National program,million,USD
94975,Earth Observation,1999,1414.000,NaN,USA,United States,Civil,National program,million,USD
94976,Meteorology,1999,0.000,NaN,USA,United States,Civil,National program,million,USD
...,...,...,...,...,...,...,...,...,...,...
95473,Technology,2020,2056.072,NaN,USA,United States,Defence,National program,million,USD
95474,Human Spaceflight,2020,0.000,NaN,USA,United States,Defence,National program,million,USD
95475,Launch vehicles,2020,1836.804,NaN,USA,United States,Defence,National program,million,USD
95476,Space security,2020,725.491,NaN,USA,United States,Defence,National program,million,USD
95477,Other,2020,230.362,NaN,USA,United States,Defence,National program,million,USD

In [48]:
df_budget=budget_dollar[budget_dollar.value!=0]

In [49]:
df_fr=df_budget[df_budget.country_code=='FRA']

In [50]:
budget.program_name.value_counts(1)

National program    0.864803
ESA                 0.123007
Eumetsat            0.011738
Others              0.000451
Name: program_name, dtype: float64

In [51]:
df_fr[df_fr.year==2009]

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
3518,Internal operations,2009,83.351509,Europe,FRA,France,Civil,ESA,million,USD
3519,Telecommunications,2009,62.513631,Europe,FRA,France,Civil,ESA,million,USD
3520,Navigation,2009,88.908276,Europe,FRA,France,Civil,ESA,million,USD
3521,Earth Observation,2009,94.465043,Europe,FRA,France,Civil,ESA,million,USD
3522,Meteorology,2009,9.724343,Europe,FRA,France,Civil,ESA,million,USD
3523,Space Science and exploration,2009,126.416455,Europe,FRA,France,Civil,ESA,million,USD
3524,Technology,2009,0.001389,Europe,FRA,France,Civil,ESA,million,USD
3525,Human Spaceflight,2009,140.308373,Europe,FRA,France,Civil,ESA,million,USD
3526,Launch vehicles,2009,343.130377,Europe,FRA,France,Civil,ESA,million,USD
3527,Space security,2009,2.778384,Europe,FRA,France,Civil,ESA,million,USD
3528,Other,2009,0.001389,Europe,FRA,France,Civil,ESA,million,USD
46836,Internal operations,2009,237.551799,Europe,FRA,France,Civil,National program,million,USD
46837,Telecommunications,2009,59.735248,Europe,FRA,France,Civil,National program,million,USD
46839,Earth Observation,2009,120.859687,Europe,FRA,France,Civil,National program,million,USD
46840,Meteorology,2009,0.001389,Europe,FRA,France,Civil,National program,million,USD
46841,Space Science and exploration,2009,70.848782,Europe,FRA,France,Civil,National program,million,USD
46842,Technology,2009,165.313825,Europe,FRA,France,Civil,National program,million,USD
46844,Launch vehicles,2009,550.119957,Europe,FRA,France,Civil,National program,million,USD
46846,Other,2009,148.643524,Europe,FRA,France,Civil,National program,million,USD
46978,Meteorology,2009,48.621713,Europe,FRA,France,Civil,Eumetsat,million,USD
47101,Telecommunications,2009,166.703017,Europe,FRA,France,Defence,National program,million,USD
47103,Earth Observation,2009,26.394644,Europe,FRA,France,Defence,National program,million,USD
47106,Technology,2009,229.216649,Europe,FRA,France,Defence,National program,million,USD
47109,Space security,2009,94.465043,Europe,FRA,France,Defence,National program,million,USD

In [54]:
df_fr_2=satellites[satellites['operator_query.country']=='France']

In [55]:
df_fr_2[df_fr_2['Launch year']==2009]

,satellite_Name,Launch year,Launch status,Application,operator_status,operator_query.country,global_regional_distribution,mass_range_kg,price_range_m$
729,Helios 2B,2009,Launched,Earth Observation,Defense,France,Europe,2001-5000 kg,>500 M$
730,SPIRALE 1,2009,Launched,Security,Defense,France,Europe,<500 kg,<50 M$
731,SPIRALE 2,2009,Launched,Security,Defense,France,Europe,<500 kg,<50 M$

In [57]:
df_budget.groupby(['country', 'year']).count().tail(60)

                    application  value  region  country_code  program_type  \
country       year
United States 2003           17     17       0            17            17
              2004           16     16       0            16            16
              2005           16     16       0            16            16
              2006           17     17       0            17            17
              2007           18     18       0            18            18
              2008           18     18       0            18            18
              2009           18     18       0            18            18
              2010           18     18       0            18            18
              2011           19     19       0            19            19
              2012           19     19       0            19            19
              2013           19     19       0            19            19
              2014           19     19       0            19            19
              2015           19     19       0            19            19
              2016           18     18       0            18            18
              2017           18     18       0            18            18
              2018           18     18       0            18            18
              2019           18     18       0            18            18
              2020           18     18       0            18            18
Uzbekistan    2018            2      2       2             2             2
              2019            2      2       2             2             2
              2020            2      2       2             2             2
Venezuela, RB 2004            1      1       1             1             1
              2005            1      1       1             1             1
              2006            1      1       1             1             1
              2007            1      1       1             1             1
              2008            1      1       1             1             1
              2009            2      2       2             2             2
              2010            3      3       3             3             3
              2011            4      4       4             4             4
              2012            4      4       4             4             4
              2013            4      4       4             4             4
              2014            4      4       4             4             4
              2015            5      5       5             5             5
              2016            5      5       5             5             5
              2017            5      5       5             5             5
              2018            5      5       5             5             5
              2019            5      5       5             5             5
              2020            5      5       5             5             5
Vietnam       2002            1      1       1             1             1
              2003            1      1       1             1             1
              2004            1      1       1             1             1
              2005            1      1       1             1             1
              2006            1      1       1             1             1
              2007            1      1       1             1             1
              2008            2      2       2             2             2
              2009            2      2       2             2             2
              2010            3      3       3             3             3
              2011            3      3       3             3             3
              2012            3      3       3             3             3
              2013            3      3       3             3             3
              2014            3      3       3             3             3
              2015            3      3       3             3             3
              2016            3      3       3             3             3
              2017            3      3       3             3             3
              2018            3      3       3             3             3
              2019            2      2       2             2             2
              2020            3      3       3             3             3
Zimbabwe      2018            2      2       2             2             2
              2019            2      2       2             2             2
              2020            2      2       2             2             2

                    program_name  unit  currency
country       year
United States 2003            17    17        17
              2004            16    16        16
              2005            16    16        16
              2006            17    17        17
              2007            18    18        18
              2008            18    18        18
              2009            18    18        18
              2010            18    18        18
              2011            19    19        19
              2012            19    19        19
              2013            19    19        19
              2014            19    19        19
              2015            19    19        19
              2016            18    18        18
              2017            18    18        18
              2018            18    18        18
              2019            18    18        18
              2020            18    18        18
Uzbekistan    2018             2     2         2
              2019             2     2         2
              2020             2     2         2
Venezuela, RB 2004             1     1         1
              2005             1     1         1
              2006             1     1         1
              2007             1     1         1
              2008             1     1         1
              2009             2     2         2
              2010             3     3         3
              2011             4     4         4
              2012             4     4         4
              2013             4     4         4
              2014             4     4         4
              2015             5     5         5
              2016             5     5         5
              2017             5     5         5
              2018             5     5         5
              2019             5     5         5
              2020             5     5         5
Vietnam       2002             1     1         1
              2003             1     1         1
              2004             1     1         1
              2005             1     1         1
              2006             1     1         1
              2007             1     1         1
              2008             2     2         2
              2009             2     2         2
              2010             3     3         3
              2011             3     3         3
              2012             3     3         3
              2013             3     3         3
              2014             3     3         3
              2015             3     3         3
              2016             3     3         3
              2017             3     3         3
              2018             3     3         3
              2019             2     2         2
              2020             3     3         3
Zimbabwe      2018             2     2         2
              2019             2     2         2
              2020             2     2         2

In [58]:
df.shape

(18612, 10)

In [59]:
df.head(20)

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
0,Total,2019,195.432000,Europe,BEL,Belgium,Civil,ESA,million,EUR
1,Total,2020,171.600069,Europe,BEL,Belgium,Civil,ESA,million,EUR
2,Total,2019,220.230630,Europe,BEL,Belgium,Civil,ESA,million,USD
3,Total,2020,193.374633,Europe,BEL,Belgium,Civil,ESA,million,USD
4,Total,2019,54.274739,Europe,AUT,Austria,Civil,ESA,million,EUR
5,Total,2020,44.587492,Europe,AUT,Austria,Civil,ESA,million,EUR
6,Total,2019,61.161734,Europe,AUT,Austria,Civil,ESA,million,USD
7,Total,2020,50.245259,Europe,AUT,Austria,Civil,ESA,million,USD
8,Total,2019,2.626468,Europe,BGR,Bulgaria,Civil,ESA,million,BGN
9,Total,2020,2.626468,Europe,BGR,Bulgaria,Civil,ESA,million,BGN
10,Total,2019,1.513415,Europe,BGR,Bulgaria,Civil,ESA,million,USD
11,Total,2020,1.513415,Europe,BGR,Bulgaria,Civil,ESA,million,USD
12,Total,2019,982.007979,Europe,CZE,Czech Republic,Civil,ESA,million,CZK
13,Total,2020,806.733913,Europe,CZE,Czech Republic,Civil,ESA,million,CZK
14,Total,2019,42.008641,Europe,CZE,Czech Republic,Civil,ESA,million,USD
15,Total,2020,34.510713,Europe,CZE,Czech Republic,Civil,ESA,million,USD
16,Total,2019,262.211202,Europe,DNK,Denmark,Civil,ESA,million,DKK
17,Total,2020,215.410336,Europe,DNK,Denmark,Civil,ESA,million,DKK
18,Total,2019,39.711563,Europe,DNK,Denmark,Civil,ESA,million,USD
19,Total,2020,32.623630,Europe,DNK,Denmark,Civil,ESA,million,USD

In [60]:
df.drop_duplicates()

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
0,Total,2019,195.432000,Europe,BEL,Belgium,Civil,ESA,million,EUR
1,Total,2020,171.600069,Europe,BEL,Belgium,Civil,ESA,million,EUR
2,Total,2019,220.230630,Europe,BEL,Belgium,Civil,ESA,million,USD
3,Total,2020,193.374633,Europe,BEL,Belgium,Civil,ESA,million,USD
4,Total,2019,54.274739,Europe,AUT,Austria,Civil,ESA,million,EUR
...,...,...,...,...,...,...,...,...,...,...
97210,EPS-Second Generation Preparation (EPS-SG PP),2020,285.760864,Europe,EUM,Eumetsat,Civil,National program,million,USD
97211,MTG,2020,153.914576,Europe,EUM,Eumetsat,Civil,National program,million,USD
97212,Jason-2&3,2020,0.676135,Europe,EUM,Eumetsat,Civil,National program,million,USD
97213,Jason-CS,2020,28.923545,Europe,EUM,Eumetsat,Civil,National program,million,USD
97214,GMES,2020,43.760947,Europe,EUM,Eumetsat,Civil,National program,million,USD

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18612 entries, 0 to 97214
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   application   18612 non-null  object
 1   year          18612 non-null  int64
 2   value         18612 non-null  float64
 3   region        17553 non-null  object
 4   country_code  18612 non-null  object
 5   country       18612 non-null  object
 6   program_type  18612 non-null  object
 7   program_name  18612 non-null  object
 8   unit          18612 non-null  object
 9   currency      18612 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.6+ MB

In [62]:
df.year.value_counts().sort_index()

1999     437
2000     439
2001     473
2002     504
2003     575
2004     604
2005     642
2006     671
2007     680
2008     794
2009    1007
2010     929
2011    1046
2012     991
2013    1068
2014    1126
2015    1141
2016    1168
2017    1196
2018    1230
2019     930
2020     961
Name: year, dtype: int64

In [63]:
satellites

,satellite_Name,Launch year,Launch status,Application,operator_status,operator_query.country,global_regional_distribution,mass_range_kg,price_range_m$
0,DMC-3A,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
1,DMC-3B,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
2,DMC-3C,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
3,SSTL-S1,2018,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
4,VRSS-1,2012,Launched,Earth Observation,Civil,"Venezuela, RB",Latin America and Caribbean,501-2000 kg,51-200M$
...,...,...,...,...,...,...,...,...,...
2494,Yahsat-1B,2012,Launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$
2495,Thuraya 3+R,2024,To be launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$
2496,Al Yah 3,2018,Partial launch failure,Telecom,Civil,United Arab Emirates,Middle East and Africa,2001-5000 kg,201-500 M$
2497,Yahsat-1A+R,2026,To be launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$
2498,Yahsat-1B+R,2028,To be launched,Telecom,Civil,United Arab Emirates,Middle East and Africa,>5000 kg,201-500 M$

In [64]:
satellites.nunique()

satellite_Name                  2380
Launch year                       20
Launch status                      5
Application                       10
operator_status                    2
operator_query.country            76
global_regional_distribution       6
mass_range_kg                      4
price_range_m$                     5
dtype: int64

In [65]:
satellites[satellites['operator_query.country']=='China'].head(20)

,satellite_Name,Launch year,Launch status,Application,operator_status,operator_query.country,global_regional_distribution,mass_range_kg,price_range_m$
0,DMC-3A,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
1,DMC-3B,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
2,DMC-3C,2015,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
3,SSTL-S1,2018,Launched,Earth Observation,Civil,China,Asia,<500 kg,51-200M$
75,SJ-12 / Shi Jian 12,2010,Launched,Technology,Civil,China,Asia,<500 kg,<50 M$
76,Shiyan 4 (SY 4) / Tansuo 4 (TS 4),2011,Launched,Earth Observation,Civil,China,Asia,<500 kg,<50 M$
77,Yinghuo-1,2011,Launch failure,Exploration,Civil,China,Asia,<500 kg,<50 M$
78,FN1,2012,Launched,Technology,Civil,China,Asia,<500 kg,<50 M$
79,SJ-9 / Shi Jian 9 A,2012,Launched,Technology,Civil,China,Asia,<500 kg,<50 M$
80,SJ-9 / Shi Jian 9 B,2012,Launched,Technology,Civil,China,Asia,<500 kg,<50 M$
81,XY-1,2012,Launched,Technology,Civil,China,Asia,<500 kg,<50 M$
82,HXMT,2017,Launched,Science,Civil,China,Asia,2001-5000 kg,201-500 M$
83,SST (Solar space Telescope),2019,Launched,Science,Civil,China,Asia,501-2000 kg,201-500 M$
84,DAMPE,2015,Launched,Science,Civil,China,Asia,501-2000 kg,201-500 M$
85,SJ-10 / Shi Jian 10,2016,Launched,Science,Civil,China,Asia,2001-5000 kg,201-500 M$
86,SJ-9 / Shi Jian*+ R2,2023,To be launched,Science,Civil,China,Asia,<500 kg,<50 M$
87,SVOM,2023,To be launched,Science,Civil,China,Asia,501-2000 kg,51-200M$
88,SJ-9 / Shi Jian*+R3,2026,To be launched,Science,Civil,China,Asia,<500 kg,<50 M$
89,SJ-9 / Shi Jian*R5,2024,To be launched,Science,Civil,China,Asia,<500 kg,<50 M$
90,SJ-9 / Shi Jian*+ R4,2023,To be launched,Science,Civil,China,Asia,<500 kg,<50 M$

In [66]:
satellites.Application.value_counts()

Earth Observation     705
Telecom               607
Security              253
Navigation            251
Manned spaceflight    183
Technology            163
Information           148
Science               104
Exploration            84
In Orbit Servicing      1
Name: Application, dtype: int64

In [67]:
satellites[satellites['price_range_m$']=='TBD']['Launch year'].value_counts().sort_index()

2009    13
2010    11
2011    15
2012    11
2013    11
2014    10
2015    10
2016    10
2017     8
2018     8
2019    10
2020    11
2021     9
2022    13
2023    11
2024     8
2025     4
2026     3
2027     5
2028     2
Name: Launch year, dtype: int64

In [68]:
satellites[satellites['price_range_m$']=='TBD']['Application'].value_counts()

Manned spaceflight    183
Name: Application, dtype: int64

In [69]:
satellites[satellites['price_range_m$']=='TBD']['operator_query.country'].value_counts()

Russian Federation    117
China                  28
United States          20
Japan                  13
ESA                     5
Name: operator_query.country, dtype: int64

In [70]:
satellites['Launch status'].value_counts()

To be launched            1267
Launched                  1147
Launch failure              42
To be Launched              32
Partial launch failure      11
Name: Launch status, dtype: int64

In [71]:
satellites['Launch status'].replace({'To be Launched':'To be launched'}, inplace=True)

In [72]:
satellites['Launch status'].value_counts()

To be launched            1299
Launched                  1147
Launch failure              42
Partial launch failure      11
Name: Launch status, dtype: int64

In [73]:
satellites.Application.value_counts()

Earth Observation     705
Telecom               607
Security              253
Navigation            251
Manned spaceflight    183
Technology            163
Information           148
Science               104
Exploration            84
In Orbit Servicing      1
Name: Application, dtype: int64

In [74]:
satellites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   satellite_Name                2499 non-null   object
 1   Launch year                   2499 non-null   int64
 2   Launch status                 2499 non-null   object
 3   Application                   2499 non-null   object
 4   operator_status               2499 non-null   object
 5   operator_query.country        2499 non-null   object
 6   global_regional_distribution  2499 non-null   object
 7   mass_range_kg                 2499 non-null   object
 8   price_range_m$                2499 non-null   object
dtypes: int64(1), object(8)
memory usage: 175.8+ KB

In [75]:
satellites.global_regional_distribution.value_counts()

Asia                           1167
Russia and Central Asia         501
North America                   426
Europe                          267
Middle East and Africa           93
Latin America and Caribbean      45
Name: global_regional_distribution, dtype: int64

In [76]:
satellites.nunique()

satellite_Name                  2380
Launch year                       20
Launch status                      4
Application                       10
operator_status                    2
operator_query.country            76
global_regional_distribution       6
mass_range_kg                      4
price_range_m$                     5
dtype: int64

# Conclusions

### Satellites
* `satellite_Name`: unique id
* `Launch year`: ok
* `Launch status`: encoding 1 to 4 or dummies
* `Application`: Encoding 1 to 10 or dummies
* `operator_status`: 0 or 1 (can be civil 1/0)
* `operator_query.country`: seems ok, have to change the name of the column
* `global_regional_distribution`: change the name of the column
* `mass_range_kg`: encoding 1 to 4
* `price_range`: encoding 1 to 4 (and drop rows with TBD)

### Budget
* Drop rows with value = 0
* Drop rows where currency is different to USD
* `application`: make it correspond to `Application` in `budget` file
* `year`: ok
* `value`: ok
* `region`: can replace NaNs by NorAM
* `country` and `country_code`: ok
* `program_type`: same as operator_status (can ve civil 1/0)
* `program_name`: ok
* `unit`: always million (drop it)
* `currency`: should be USD at the end

In [77]:
df_budget.unit.value_counts()

million    9516
Name: unit, dtype: int64

In [78]:
df_budget.isna().sum()

application       0
year              0
value             0
region          724
country_code      0
country           0
program_type      0
program_name      0
unit              0
currency          0
dtype: int64

In [79]:
df_budget.head()

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
2,Total,2019,220.230630,Europe,BEL,Belgium,Civil,ESA,million,USD
3,Total,2020,193.374633,Europe,BEL,Belgium,Civil,ESA,million,USD
6,Total,2019,61.161734,Europe,AUT,Austria,Civil,ESA,million,USD
7,Total,2020,50.245259,Europe,AUT,Austria,Civil,ESA,million,USD
10,Total,2019,1.513415,Europe,BGR,Bulgaria,Civil,ESA,million,USD

In [80]:
df_budget.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9516 entries, 2 to 97214
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   application   9516 non-null   object
 1   year          9516 non-null   int64
 2   value         9516 non-null   float64
 3   region        8792 non-null   object
 4   country_code  9516 non-null   object
 5   country       9516 non-null   object
 6   program_type  9516 non-null   object
 7   program_name  9516 non-null   object
 8   unit          9516 non-null   object
 9   currency      9516 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 817.8+ KB

In [81]:
df_budget.application.value_counts()

Earth Observation                                1417
Internal operations                              1318
Telecommunications                               1223
Technology                                       1191
Space Science and exploration                     900
Meteorology                                       840
Launch vehicles                                   709
Navigation                                        597
Human Spaceflight                                 482
Space security                                    328
Other                                             293
Total                                              54
Early warning                                      22
USA classified program                             22
European Polar System (EPS)                        22
Meteosat Second Generation (MSG)                   22
Meteosat Transition Program (MTP)                  19
Jason-2&3                                          18
MTG                                                13
GMES                                               11
EPS-Second Generation Preparation (EPS-SG PP)       9
Jason-CS                                            4
MSG Extension                                       2
Name: application, dtype: int64

In [83]:
df_budget.program_name.value_counts()

National program    6115
ESA                 2923
Eumetsat             474
Others                 4
Name: program_name, dtype: int64

In [84]:
df_budget[df_budget.program_name=='Others']

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
18544,Other,1999,423840.0,Asia,JPN,Japan,Civil,Others,million,USD
18545,Other,2000,371200.0,Asia,JPN,Japan,Civil,Others,million,USD
18546,Other,2001,313120.0,Asia,JPN,Japan,Civil,Others,million,USD
18547,Other,2002,296000.0,Asia,JPN,Japan,Civil,Others,million,USD

In [85]:
budget[budget.program_name=='Others']

,application,year,value,region,country_code,country,program_type,program_name,unit,currency
18038,Other,1999,48000.0,Asia,JPN,Japan,Civil,Others,million,JPY
18039,Other,2000,40000.0,Asia,JPN,Japan,Civil,Others,million,JPY
18040,Other,2001,38000.0,Asia,JPN,Japan,Civil,Others,million,JPY
18041,Other,2002,37000.0,Asia,JPN,Japan,Civil,Others,million,JPY
18042,Other,2003,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18043,Other,2004,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18044,Other,2005,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18045,Other,2006,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18046,Other,2007,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18047,Other,2008,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18048,Other,2009,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18049,Other,2010,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18050,Other,2011,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18051,Other,2012,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18052,Other,2013,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18053,Other,2014,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18054,Other,2015,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18055,Other,2016,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18056,Other,2017,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18057,Other,2018,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18058,Other,2019,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18059,Other,2020,0.0,Asia,JPN,Japan,Civil,Others,million,JPY
18544,Other,1999,423840.0,Asia,JPN,Japan,Civil,Others,million,USD
18545,Other,2000,371200.0,Asia,JPN,Japan,Civil,Others,million,USD
18546,Other,2001,313120.0,Asia,JPN,Japan,Civil,Others,million,USD
18547,Other,2002,296000.0,Asia,JPN,Japan,Civil,Others,million,USD
18548,Other,2003,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18549,Other,2004,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18550,Other,2005,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18551,Other,2006,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18552,Other,2007,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18553,Other,2008,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18554,Other,2009,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18555,Other,2010,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18556,Other,2011,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18557,Other,2012,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18558,Other,2013,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18559,Other,2014,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18560,Other,2015,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18561,Other,2016,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18562,Other,2017,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18563,Other,2018,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18564,Other,2019,0.0,Asia,JPN,Japan,Civil,Others,million,USD
18565,Other,2020,0.0,Asia,JPN,Japan,Civil,Others,million,USD

In [86]:
df_budget.set_index('country').join(satellites.set_index('operator_query.country'))

,application,year,value,region,country_code,program_type,program_name,unit,currency,satellite_Name,Launch year,Launch status,Application,operator_status,global_regional_distribution,mass_range_kg,price_range_m$
Algeria,Internal operations,2006,12.388739,MEA,DZA,Civil,National program,million,USD,Alsat-2A,2010.0,Launched,Earth Observation,Civil,Middle East and Africa,<500 kg,<50 M$
Algeria,Internal operations,2006,12.388739,MEA,DZA,Civil,National program,million,USD,Alsat-2B,2016.0,Launched,Earth Observation,Civil,Middle East and Africa,<500 kg,<50 M$
Algeria,Internal operations,2006,12.388739,MEA,DZA,Civil,National program,million,USD,Alsat-1B+R,2026.0,To be launched,Earth Observation,Civil,Middle East and Africa,<500 kg,<50 M$
Algeria,Internal operations,2006,12.388739,MEA,DZA,Civil,National program,million,USD,AlComSat-1,2017.0,Launched,Telecom,Civil,Middle East and Africa,>5000 kg,201-500 M$
Algeria,Internal operations,2006,12.388739,MEA,DZA,Civil,National program,million,USD,Alsat-1B,2016.0,Launched,Earth Observation,Civil,Middle East and Africa,<500 kg,<50 M$
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,Earth Observation,2018,0.800000,MEA,ZWE,Civil,National program,million,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,Internal operations,2019,0.500000,MEA,ZWE,Civil,National program,million,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,Earth Observation,2019,0.800000,MEA,ZWE,Civil,National program,million,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,Internal operations,2020,0.500000,MEA,ZWE,Civil,National program,million,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,Earth Observation,2020,0.840000,MEA,ZWE,Civil,National program,million,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
budget.year.agg(['min', 'max'])

min    1999
max    2020
Name: year, dtype: int64

In [ ]:
budget.year.min()